<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kuime">

    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CaApplication"
        android:allowBackup="true"
        android:icon="@drawable/kuime_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kuime.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.ActivityFee"></activity>
        <activity android:name=".activity.ActivityChargeResult" />
        <activity android:name=".activity.ActivityChargeHistory" />
        <activity android:name=".activity.ActivityCharge" />
        <activity android:name=".activity.ActivityCard" />
        <activity android:name=".activity.ActivityCar" />
        <activity android:name=".activity.ActivityPoint" />
        <activity android:name=".activity.ActivityMyPage" />
        <activity android:name=".activity.ActivityReserveEnd" />
        <activity android:name=".activity.ActivityReserveMin" />
        <activity android:name=".activity.ActivityReserveTime" />
        <activity android:name=".activity.ActivityReserveService" />
        <activity android:name=".activity.ActivityReserveConnect" />
        <activity android:name=".activity.ActivityReserveCharger" />
        <activity android:name=".activity.ActivityMap" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD9ZUbqNQz1r0rry2W8bkCdfXbvaocuGxU" />

        <activity android:name=".activity.ActivitySignUpComplete" />
        <activity android:name=".activity.ActivitySignUpCard" />
        <activity android:name=".activity.ActivitySignUpCar" />
        <activity android:name=".activity.ActivitySignUp" />
        <activity android:name=".activity.ActivityAuth" />
        <activity android:name=".activity.ActivityHome" />
        <activity android:name=".activity.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityLogin" />
    </application>

</manifest>